<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dreamliner.lib.rvhelper.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".ui.activity.main.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.customloading.CustomLoadingActivity" />
        <activity android:name=".ui.activity.customempty.CustomEmptyActivity" />
        <activity android:name=".ui.activity.customheader.CustomHeaderActivity" />
        <activity android:name=".ui.activity.customfooter.CustomFooterActivity" />
        <activity android:name=".ui.activity.defaultall.DefaultAllActivity" />
        <activity android:name=".ui.activity.customall.CustomAllActivity" />
        <activity android:name=".ui.activity.addressbook.AddressbookActivity" />
        <activity android:name=".ui.activity.gridloadmore.GridLoadMoreActivity" />
        <activity android:name=".ui.activity.databind.DataBindActivity" />
        <activity android:name=".ui.activity.banner.BannerActivity" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0"
            tools:replace="android:value" />
    </application>

</manifest>
